<!-- begin::Demo Panel -->
<div id="k_demo_panel" class="k-demo-panel">
    <div class="k-demo-panel__head">
        <h3 class="k-demo-panel__title">
            Select A Demo
            <!--<small>5</small>-->
        </h3>
        <a href="#" class="k-demo-panel__close" id="k_demo_panel_close"><i class="flaticon2-delete"></i></a>
    </div>
    <div class="k-demo-panel__body">
        <br />
        <b>Notice</b>: Undefined index: REQUEST_URI in <b>/home/keenthemes/www/keen/themes/themes/keen/dist/preview/inc/view/partials/layout/demo-panel.php</b> on line <b>62</b>
        <br />
        <div class="k-demo-panel__item k-demo-panel__item--active">
            <div class="k-demo-panel__item-title"> Default </div>
            <div class="k-demo-panel__item-preview">
                <img src="./assets/media/demos-mini/default.png" alt=""/>
                <div class="k-demo-panel__item-preview-overlay"> <a href="/default/index.html" class="btn btn-brand btn-elevate" target="_blank">Default</a> <a href="/default/rtl/index.html" class="btn btn-light btn-elevate" target="_blank">RTL Version</a> </div>
            </div>
        </div>
        <br />
        <b>Notice</b>: Undefined index: REQUEST_URI in <b>/home/keenthemes/www/keen/themes/themes/keen/dist/preview/inc/view/partials/layout/demo-panel.php</b> on line <b>62</b>
        <br />
        <div class="k-demo-panel__item ">
            <div class="k-demo-panel__item-title"> Demo 2 </div>
            <div class="k-demo-panel__item-preview">
                <img src="./assets/media/demos-mini/demo2.png" alt=""/>
                <div class="k-demo-panel__item-preview-overlay"> <a href="/demo2/index.html" class="btn btn-brand btn-elevate" target="_blank">Default</a> <a href="/demo2/rtl/index.html" class="btn btn-light btn-elevate" target="_blank">RTL Version</a> </div>
            </div>
        </div>
        <br />
        <b>Notice</b>: Undefined index: REQUEST_URI in <b>/home/keenthemes/www/keen/themes/themes/keen/dist/preview/inc/view/partials/layout/demo-panel.php</b> on line <b>62</b>
        <br />
        <div class="k-demo-panel__item ">
            <div class="k-demo-panel__item-title"> Demo 3 </div>
            <div class="k-demo-panel__item-preview">
                <img src="./assets/media/demos-mini/demo3.png" alt=""/>
                <div class="k-demo-panel__item-preview-overlay"> <a href="/demo3/index.html" class="btn btn-brand btn-elevate" target="_blank">Default</a> <a href="/demo3/rtl/index.html" class="btn btn-light btn-elevate" target="_blank">RTL Version</a> </div>
            </div>
        </div>
        <br />
        <b>Notice</b>: Undefined index: REQUEST_URI in <b>/home/keenthemes/www/keen/themes/themes/keen/dist/preview/inc/view/partials/layout/demo-panel.php</b> on line <b>62</b>
        <br />
        <div class="k-demo-panel__item ">
            <div class="k-demo-panel__item-title"> Demo 4 </div>
            <div class="k-demo-panel__item-preview">
                <img src="./assets/media/demos-mini/demo4.png" alt=""/>
                <div class="k-demo-panel__item-preview-overlay"> <a href="/demo4/index.html" class="btn btn-brand btn-elevate" target="_blank">Default</a> <a href="/demo4/rtl/index.html" class="btn btn-light btn-elevate" target="_blank">RTL Version</a> </div>
            </div>
        </div>
        <br />
        <b>Notice</b>: Undefined index: REQUEST_URI in <b>/home/keenthemes/www/keen/themes/themes/keen/dist/preview/inc/view/partials/layout/demo-panel.php</b> on line <b>62</b>
        <br />
        <div class="k-demo-panel__item ">
            <div class="k-demo-panel__item-title"> Demo 5 </div>
            <div class="k-demo-panel__item-preview">
                <img src="./assets/media/demos-mini/demo5.png" alt=""/>
                <div class="k-demo-panel__item-preview-overlay"> <a href="/demo5/index.html" class="btn btn-brand btn-elevate" target="_blank">Default</a> <a href="/demo5/rtl/index.html" class="btn btn-light btn-elevate" target="_blank">RTL Version</a> </div>
            </div>
        </div>
        <a href="https://themes.getbootstrap.com/product/keen-the-ultimate-bootstrap-admin-theme/" target="_blank" class="k-demo-panel__purchase btn btn-brand btn-elevate btn-bold btn-upper">Buy Keen Now!</a>
    </div>
</div>
<!-- end::Demo Panel -->