<!--begin: Language bar -->
<div class="k-header__topbar-item k-header__topbar-item--langs">
    <div class="k-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px -2px">
        <span class="k-header__topbar-icon">
            <img class="" src="./assets/media/flags/020-flag.svg" alt="" />
        </span>
    </div>
    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround">
        <ul class="k-nav k-margin-t-10 k-margin-b-10">
            <li class="k-nav__item k-nav__item--active">
                <a href="#" class="k-nav__link">
                    <span class="k-nav__link-icon">
                        <img src="./assets/media/flags/020-flag.svg" alt="" />
                    </span>
                    <span class="k-nav__link-text">English</span>
                </a>
            </li>
            <li class="k-nav__item">
                <a href="#" class="k-nav__link">
                    <span class="k-nav__link-icon">
                        <img src="./assets/media/flags/016-spain.svg" alt="" />
                    </span>
                    <span class="k-nav__link-text">Spanish</span>
                </a>
            </li>
            <li class="k-nav__item">
                <a href="#" class="k-nav__link">
                    <span class="k-nav__link-icon">
                        <img src="./assets/media/flags/017-germany.svg" alt="" />
                    </span>
                    <span class="k-nav__link-text">German</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--end: Language bar -->