<!--begin: User bar -->
<div class="k-header__topbar-item k-header__topbar-item--user">
    <div class="k-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px -2px">
        <div class="k-header__topbar-user">
            <span class="k-header__topbar-welcome k-hidden-mobile">Hi,</span> <span class="k-header__topbar-username k-hidden-mobile">Alex</span> 
            <img alt="Pic" src="./assets/media/users/300_25.jpg"/>
            <!--use below badge element instead the user avatar to display username's first letter(remove k-hidden class to display it) -->
            <span class="k-badge k-badge--username k-badge--lg k-badge--brand k-hidden">A</span> 
        </div>
    </div>
    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-md">
        <div class="k-user-card k-margin-b-50 k-margin-b-30-tablet-and-mobile" style="background-image: url(./assets/media/misc/head_bg_sm.jpg)">
            <div class="k-user-card__wrapper">
                <div class="k-user-card__pic">
                    <img alt="Pic" src="./assets/media/users/300_21.jpg" />
                </div>
                <div class="k-user-card__details">
                    <div class="k-user-card__name">Alex Stone</div>
                    <div class="k-user-card__position">CTO, Loop Inc.</div>
                </div>
            </div>
        </div>
        <ul class="k-nav k-margin-b-10">
            <li class="k-nav__item">
                <a href="?page=custom/user/profile-v1" class="k-nav__link">
                    <span class="k-nav__link-icon"><i class="flaticon2-calendar-3"></i></span>
                    <span class="k-nav__link-text">My Profile</span> 
                </a>
            </li>
            <li class="k-nav__item">
                <a href="?page=custom/user/profile-v1" class="k-nav__link">
                    <span class="k-nav__link-icon"><i class="flaticon2-browser-2"></i></span>
                    <span class="k-nav__link-text">My Tasks</span> 
                </a>
            </li>
            <li class="k-nav__item">
                <a href="?page=custom/user/profile-v1" class="k-nav__link">
                    <span class="k-nav__link-icon"><i class="flaticon2-mail"></i></span>
                    <span class="k-nav__link-text">Messages</span> 
                </a>
            </li>
            <li class="k-nav__item">
                <a href="?page=custom/user/profile-v1" class="k-nav__link">
                    <span class="k-nav__link-icon"><i class="flaticon2-gear"></i></span>
                    <span class="k-nav__link-text">Settings</span> 
                </a>
            </li>
            <li class="k-nav__item k-nav__item--custom k-margin-t-15"> <a href="?page=custom/user/login-v2" target="_blank" class="btn btn-outline-metal btn-hover-brand btn-upper btn-font-dark btn-sm btn-bold">Sign Out</a> </li>
        </ul>
    </div>
</div>
<!--end: User bar -->