<!-- begin:: Header Topbar -->
<div class="k-header__topbar">
    <!--[html-partial:include:{"file":"partials\/_topbar-search.html"}]/-->
    <!--[html-partial:include:{"file":"partials\/_topbar-notifications.html"}]/-->
    <!--[html-partial:include:{"file":"partials\/_topbar-quick-actions.html"}]/-->
    <!--[html-partial:include:{"file":"partials\/_topbar-languages.html"}]/-->
    <!--[html-partial:include:{"file":"partials\/_topbar-user.html"}]/-->
    <!--[html-partial:include:{"file":"partials\/_topbar-quick-panel.html"}]/-->
</div>
<!-- end:: Header Topbar -->