<!--begin: Notifications -->
<div class="k-header__topbar-item dropdown">
    <div class="k-header__topbar-wrapper" data-toggle="dropdown" data-offset="30px -2px">
        <span class="k-header__topbar-icon"><i class="flaticon2-bell-alarm-symbol"></i></span>
        <span class="k-badge k-badge--dot k-badge--notify k-badge--sm k-badge--brand"></span> 
    </div>
    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">
        <div class="k-head" style="background-image: url(./assets/media/misc/head_bg_sm.jpg)">
            <h3 class="k-head__title">
                User Notifications
            </h3>
            <div class="k-head__sub"><span class="k-head__desc">23 new notifications</span></div>
        </div>
        <div class="k-notification k-margin-t-30 k-margin-b-20 k-scroll" data-scroll="true" data-height="270" data-mobile-height="220">
            <a href="#" class="k-notification__item">
                <div class="k-notification__item-icon"> <i class="flaticon2-line-chart k-font-success"></i> </div>
                <div class="k-notification__item-details">
                    <div class="k-notification__item-title"> New order has been received </div>
                    <div class="k-notification__item-time"> 2 hrs ago </div>
                </div>
            </a>
            <a href="#" class="k-notification__item">
                <div class="k-notification__item-icon"> <i class="flaticon2-box-1 k-font-brand"></i> </div>
                <div class="k-notification__item-details">
                    <div class="k-notification__item-title"> New customer is registered </div>
                    <div class="k-notification__item-time"> 3 hrs ago </div>
                </div>
            </a>
            <a href="#" class="k-notification__item">
                <div class="k-notification__item-icon"> <i class="flaticon2-chart2 k-font-danger"></i> </div>
                <div class="k-notification__item-details">
                    <div class="k-notification__item-title"> Application has been approved </div>
                    <div class="k-notification__item-time"> 3 hrs ago </div>
                </div>
            </a>
            <a href="#" class="k-notification__item">
                <div class="k-notification__item-icon"> <i class="flaticon2-image-file k-font-warning"></i> </div>
                <div class="k-notification__item-details">
                    <div class="k-notification__item-title"> New file has been uploaded </div>
                    <div class="k-notification__item-time"> 5 hrs ago </div>
                </div>
            </a>
            <a href="#" class="k-notification__item">
                <div class="k-notification__item-icon"> <i class="flaticon2-bar-chart k-font-info"></i> </div>
                <div class="k-notification__item-details">
                    <div class="k-notification__item-title"> New user feedback received </div>
                    <div class="k-notification__item-time"> 8 hrs ago </div>
                </div>
            </a>
            <a href="#" class="k-notification__item">
                <div class="k-notification__item-icon"> <i class="flaticon2-pie-chart-2 k-font-success"></i> </div>
                <div class="k-notification__item-details">
                    <div class="k-notification__item-title"> System reboot has been successfully completed </div>
                    <div class="k-notification__item-time"> 12 hrs ago </div>
                </div>
            </a>
            <a href="#" class="k-notification__item">
                <div class="k-notification__item-icon"> <i class="flaticon2-favourite k-font-focus"></i> </div>
                <div class="k-notification__item-details">
                    <div class="k-notification__item-title"> New order has been placed </div>
                    <div class="k-notification__item-time"> 15 hrs ago </div>
                </div>
            </a>
            <a href="#" class="k-notification__item k-notification__item--read">
                <div class="k-notification__item-icon"> <i class="flaticon2-safe k-font-primary"></i> </div>
                <div class="k-notification__item-details">
                    <div class="k-notification__item-title"> Company meeting canceled </div>
                    <div class="k-notification__item-time"> 19 hrs ago </div>
                </div>
            </a>
            <a href="#" class="k-notification__item">
                <div class="k-notification__item-icon"> <i class="flaticon2-psd k-font-success"></i> </div>
                <div class="k-notification__item-details">
                    <div class="k-notification__item-title"> New report has been received </div>
                    <div class="k-notification__item-time"> 23 hrs ago </div>
                </div>
            </a>
            <a href="#" class="k-notification__item">
                <div class="k-notification__item-icon"> <i class="flaticon-download-1 k-font-danger"></i> </div>
                <div class="k-notification__item-details">
                    <div class="k-notification__item-title"> Finance report has been generated </div>
                    <div class="k-notification__item-time"> 25 hrs ago </div>
                </div>
            </a>
            <a href="#" class="k-notification__item">
                <div class="k-notification__item-icon"> <i class="flaticon-security k-font-warning"></i> </div>
                <div class="k-notification__item-details">
                    <div class="k-notification__item-title"> New customer comment recieved </div>
                    <div class="k-notification__item-time"> 2 days ago </div>
                </div>
            </a>
            <a href="#" class="k-notification__item">
                <div class="k-notification__item-icon"> <i class="flaticon2-pie-chart k-font-focus"></i> </div>
                <div class="k-notification__item-details">
                    <div class="k-notification__item-title"> New customer is registered </div>
                    <div class="k-notification__item-time"> 3 days ago </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!--end: Notifications -->